<div class="recipe-block">
  <hr>
  <app-slider [slides]="comments | orderBy: 'newest'" [templateRef]="comment">
    <ng-template #comment let-slide>
      <app-comment [comment]="slide"></app-comment>
    </ng-template>
  </app-slider>

  <a class="btn btn-link" *ngIf="comments?.length > 4" (click)="showCollapsed()">
    {{collapsed ? 'View' : 'Hide'}} all comments
  </a>

  <p class="small text-center fst-italic" *ngIf="!comments || !comments.length">
    There's no comment here yet !
  </p>
</div>
