<div class="recipe-block">
  <hr>

  <div class="comment-rating"></div>

  <figure>
    <blockquote class="comment-wrapper">
      <p class="comment">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda atque commodi, deserunt distinctio doloremque dolores est et excepturi exercitationem itaque laudantium nemo nostrum, numquam quasi sapiente velit voluptatibus? Quam.
      </p>
    </blockquote>
    <figcaption class="comment-author">— User, 12.01.2021</figcaption>
  </figure>

  <div class="comment-pagination">
    <ul class="bullet-list">
      <li>
        <a href="" class="bullet"></a>
      </li>
      <li>
        <a href="" class="bullet bullet-active"></a>
      </li>
    </ul>
    <a class="btn btn-link" href="#">View all comments</a>
  </div>

</div>
