@import "src/assets/styles/variables";

.btn-link {
  display: block;
  margin-top: 10px;

  text-align: center;
  color: $color-primary;
  font-size: 12px;
}

.comment-collapsed-wrapper {
  position: relative;
  left: 0;
}
