@import "../../assets/styles/variables";

.header {
  position: relative;
  height: 80vh;
  background-image: url("../../assets/images/bg-cooking.jpg");
  background-size: cover;
  background-position: center top;
  background-color: $color-primary;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, $color-primary 65%);
    opacity: .7;
  }
}

.header__content {
  position: relative;
  top: 50%;

  font-family: $font-family-base;
  text-align: center;
  color: $text-color-invert;
  -webkit-font-smoothing: antialiased;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 300;
}
