<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">
    <img src="./assets/images/logo-worldwide-cooking.png" width="30" height="30" alt="">
    Worldwide Cooking
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" role="button">
          Meals
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/meals">Mexican</a></li>
          <li><a class="dropdown-item" href="#">Italian</a></li>
          <li><a class="dropdown-item" href="/greek-meals">Greek</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
