<div class="row my-4">
  <div class="col-12 col-md-6 pe-0">
    <app-recipe-overview [meal]="meal"></app-recipe-overview>
  </div>
  <div class="col-12 col-md-6 d-flex flex-column ps-0">
    <app-recipe-ingredients class="flex-grow-1" [ingredients]="meal.ingredients"></app-recipe-ingredients>
    <app-recipe-comments [comments]="meal.comments"></app-recipe-comments>
  </div>
</div>

<div class="row my-4">
  <app-recipe-steps [steps]="meal.description"></app-recipe-steps>
</div>

<div class="row my-4">
  <app-form-comment></app-form-comment>
</div>
