<div class="row my-4">
  <div class="col-12 col-md-6 pe-0">
    <app-recipe-overview [recipe]="meal"></app-recipe-overview>
  </div>
  <div class="col-12 col-md-6 d-flex flex-column ps-0">
    <app-recipe-ingredients class="flex-grow-1" [ingredients]="meal.ingredients"></app-recipe-ingredients>
    <app-recipe-comments [comments]="meal.comments | orderBy: 'newest'" (showAllComments)="onShowAllComments()"></app-recipe-comments>
  </div>
</div>

<div class="row my-4" *ngIf="showCollapsedComments">
  <div class="col-12">
    <div class="recipe-block">
      <app-pagination [data]="meal.comments | orderBy: 'newest'" [templateRef]="comments">
        <ng-template #comments let-page>
          <app-comment-list [comments]="page"></app-comment-list>
        </ng-template>
      </app-pagination>
    </div>
  </div>
</div>

<div class="row my-4">
  <app-recipe-steps [steps]="meal.description"></app-recipe-steps>
</div>

<div class="row my-4">
  <div class="col-12">
    <div class="recipe-block">
      <h5 class="recipe-block-title">
        Leave us your appreciation on this recipe :-)
      </h5>
      <app-form-comment [recipe]="meal"></app-form-comment>
    </div>
  </div>
</div>
