<div class="meal" appHighlightMeal [routerLink]="mealItem.name">

  <div class="meal__overview">
    <div class="meal__overview__bg" [ngStyle]="{'background-image': 'url('+ mealItem.imagePath +')'}">
    </div>
  </div>

  <div class="meal__infos">
    <div class="meal__info__allergen">
      <app-meal-allergene></app-meal-allergene>
    </div>
    <h3 class="meal__info__title">
      {{ mealItem.name }}
    </h3>
    <p class="meal__info__cooking">
      {{ mealItem.timeCooking }}'
    </p>
  </div>

</div>
