.nav-link {
  cursor: pointer !important;
}

.dropdown {
  &.show {
    >.dropdown-menu {
      display: block;
    }
  }
}

.navbar-brand {
  padding: 0;
}

.brand {
  width: 80px;
}

.profile-picture {
  width: 35px;
  height: 35px;
}
