<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary" role="navigation">
  <div class="container">

    <a routerLink="/" class="navbar-brand">
      <img class="brand" src="./assets/images/cooking-logo-small.svg" alt="Cooking"/>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav container-fluid">
        <li class="nav-item nav-item--user" routerLinkActive="active" *ngIf="!adminMode">
          <a class="btn btn-sm btn-secondary" [routerLink]="['/authentication']">Admin</a>
        </li>
        <li class="nav-item nav-item--user dropdown" *ngIf="adminMode">
          <a class="nav-link nav-link--user dropdown-toggle" role="button" data-bs-toggle="dropdown">
            <img class="profile-picture rounded-circle d-inline" src="https://t3.ftcdn.net/jpg/02/33/46/24/360_F_233462402_Fx1yke4ng4GA8TJikJZoiATrkncvW6Ib.jpg" alt="Profile picture">
            User
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]="['/dashboard', 'home']">
              Dashboard
            </a>
            <a class="dropdown-item" role="button" (click)="signOut()">
              Log out
            </a>
          </div>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Recipes
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active" *ngFor="let origin of origins">
              <a class="dropdown-item"
                 [routerLink]="['/meals', origin.origin]">
                {{origin.origin | capitalize}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
