<!--formGroup is part of the ReactiveFormsModule, and indicates that the whole form data are managed by us-->
<form [formGroup]="recipeForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-lg-8">

      <div class="mb-3">
        <label for="recipeName" class="form-label">
          Title
        </label>
        <input type="text"
               id="recipeName"
               class="form-control"
               formControlName="name">
      </div>
      <div class="mb-3">
        <label for="recipePicture" class="form-label">
          Picture
        </label>
        <input type="text"
               id="recipePicture"
               class="form-control"
               formControlName="imagePath"
               #imagePath>
      </div>

      <div class="row form-group mb-3">
        <div class="col-6">
          <label for="recipeOrigin" class="form-label">
            Origin
          </label>
          <div class="input-group">
            <select id="recipeOrigin" class="form-select form-control" formControlName="origin">
              <option *ngFor="let origin of origins" [value]="origin.origin">{{origin.origin | capitalize}}</option>
            </select>
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-secondary"
                    (click)="newOrigin()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              Add origin
            </button>
          </div>
        </div>
        <div class="col-6">
          <label for="recipeType" class="form-label">
            Type
          </label>
          <select id="recipeType" class="form-select form-control" formControlName="type">
            <option *ngFor="let type of types" [value]="type">{{type | capitalize}}</option>
          </select>
        </div>
      </div>

      <div class="row form-group mb-3">
        <div class="col-6">
          <label for="recipeLevel" class="form-label">
            Difficulty
          </label>
          <select id="recipeLevel" class="form-select form-control" formControlName="difficulty">
            <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty | capitalize}}</option>
          </select>
        </div>
        <div class="col-6">
          <label for="cookingTime" class="form-label">
            Cooking time
          </label>
          <div class="input-group">
            <input type="number"
                   id="cookingTime"
                   class="form-control"
                   formControlName="cookingTime">
            <span class="input-group-text">min</span>
          </div>
        </div>
      </div>

      <div class="mb-3" formArrayName="ingredients">
        <label class="form-label">
          Ingredients
        </label>
        <div class="input-group mb-3"
             *ngFor="let ingredient of controls; let i = index">
          <input type="text"
                 class="form-control"
                 [formControlName]="i">
          <button type="button"
                  class="btn btn-danger"
                  (click)="onRemoveIngredient(i)">x</button>
        </div>
        <button type="button"
                class="btn btn-secondary d-block"
                (click)="onAddIngredient()">
          Add ingredient
        </button>
      </div>

      <div class="mb-3">
        <label for="recipeDescription" class="form-label">
          Steps
        </label>
        <div class="form-text small mb-3">
          Explain the steps of the recipe.
        </div>
        <textarea id="recipeDescription"
                  class="form-control"
                  formControlName="description"
                  rows="6"></textarea>
      </div>

      <button type="submit"
              class="btn btn-dark me-3"
              [disabled]="!recipeForm.valid">
        {{isEditing ? 'Save' : 'Add'}}
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onCancel()">
        Cancel
      </button>

    </div>
    <div class="col-12 col-lg-4">
      <img class="img-fluid mb-3"
           *ngIf="imagePath.value && recipeForm.get('imagePath').valid"
           [src]="imagePath.value"
           alt="Preview">
    </div>
  </div>
</form>

<!-- New meal origin Modal -->
<app-modal *ngIf="addNewOrigin"
           [footer]="true"
           [footerConfirmTextBtn]="'Add'"
           [footerCloseTextBtn]="'Cancel'"
           (confirmModal)="onConfirmNewOrigin(newOrigin.value)"
           (closeModal)="onAbortNewOrigin()">
  <ng-container header>
    Add new meal origin
  </ng-container>
  <ng-container body>
    <form>
      <label for="newOrigin"
             class="form-label">
        Origin name
      </label>
      <input type="text"
             id="newOrigin"
             name="newOrigin"
             class="form-control"
             ngModel
             #newOrigin="ngModel">
    </form>
  </ng-container>
</app-modal>
