<ng-container *ngIf="!editMode">
  <h2 class="meal-list-title">
    <span class="title-highlight">{{mealOrigin | capitalize}}</span> recipes
  </h2>

  <div *ngIf="!meals || meals?.length < 1">
    Unfortunately there is no {{ mealOrigin | lowercase }} meal available yet :(
  </div>
</ng-container>

<p *ngIf="isLoading">Loading...</p>

<div class="row" *ngIf="!isLoading && meals?.length > 0">
  <app-meal *ngFor="let meal of meals"
            class="d-flex"
            [ngClass]="{'col-xs-12 col-sm-6 col-lg-4 col-xl-3': !editMode}"
            [meal]="meal"
            [editMode]="editMode">
  </app-meal>
</div>
