@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.meal-list {
  display: flex;
  justify-content: flex-start;
}

.meal-list-title {
  margin: 25px 0;
  font-family: 'Fredericka the Great', cursive;

  &:first-letter {
    text-transform: uppercase;
  }
}
