@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.recipe-container {
  display: block;
  text-align: center;
}

.title {
  font-family: 'Fredericka the Great', cursive;
}
