<div class="recipe-block">
  <h5 class="recipe-block-title">
    Leave us your appreciation on this recipe :-)
  </h5>

  <div class="form-comment-wrapper col-12 col-lg-8">

    <p class="small">How would you rate your experience with this recipe?</p>

    <div class="rating-wrapper">
      <app-bar-rating [isRating]="true" [color]="'#FF9D24'"></app-bar-rating>
    </div>

    <form #commentForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="text"
             id="pseudo"
             class="form-control mb-3"
             placeholder="Your name"
             name="pseudo"
             ngModel
             required>
      <textarea id="feedback"
                class="form-control"
                name="feedback"
                placeholder="Your feedback..."
                ngModel
                rows="3"></textarea>
      <button type="submit" class="btn btn-primary mt-3">
        Send appreciation
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </form>

  </div>

</div>
