<nav class="sidebar position-fixed">

  <ul class="nav flex-column mt-2">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center"
         [routerLink]="['/dashboard', 'home']"
         routerLinkActive="active">
        <div class="icon me-2 d-flex align-items-center" [inlineSVG]="iconDirectoryUrl+'icon-home.svg'"></div>
        Overview
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center"
         [routerLink]="['/dashboard', 'recipes']">
        <div class="icon me-2 d-flex align-items-center" [inlineSVG]="iconDirectoryUrl+'icon-recipe.svg'"></div>
        Recipes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center"
         [routerLink]="['/dashboard', 'stats']"
         routerLinkActive="active">
        <div class="icon me-2 d-flex align-items-center" [inlineSVG]="iconDirectoryUrl+'icon-stat.svg'"></div>
        Stats
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center"
         [routerLink]="['/dashboard', 'comments']"
         routerLinkActive="active">
        <div class="icon me-2 d-flex align-items-center" [inlineSVG]="iconDirectoryUrl+'icon-comment.svg'"></div>
        Comments
      </a>
    </li>
  </ul>

</nav>
