@import "src/assets/styles/variables";

.sidebar {
  position: sticky;
  top: 49px;
  min-height: 100vh;

  > .nav {
    display: flex;
    flex-direction: column;
  }
}

.nav-profile {
  position: relative;
  padding: 15px 1.5rem;
  overflow: hidden;

  text-align: center;
  background-color: rgba($color-primary-dark, .75);
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background-image: url("https://as2.ftcdn.net/jpg/01/13/63/63/500_F_113636348_FPQO3sUu2ZA3HR9zOzM4lnSiWEdsoqwu.jpg");
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
  }

  > .profile-picture {
    width: $icon-size;
    height: $icon-size;
    margin: 0;
  }

  > .username {
    display: block;
    margin-top: 8px;

    color: $text-color-invert;
    font-size: .9em;
  }

  @media (min-width: 1024px) {
    > .profile-picture {
      width: $profile-picture-size *1.5;
      height: $profile-picture-size *1.5;
    }
  }
}

.nav-link {
  display: flex;
  padding: 15px 1rem;
  color: rgba($text-color-invert, .7);

  &.active,
  &:hover,
  &:focus {
    color: $text-color-invert;
    background-color: rgba($text-color-invert, .1);
  }
}
