.comment-wrapper {
  max-width: 500px;
  margin: 15px auto;
}

.comment {
  font-size: 14px;
  font-style: italic;
  text-align: center;

  &:before {
    content: '"';
  }

  &:after {
    content: '"';
  }
}

.comment-rating {
  text-align: center;
}

.comment-author {
  text-align: right;
  font-size: 12px;
  font-style: italic;
}
