.btn {
  padding: 8px 25px;
  border-radius: 0;
}

.btn-primary {
  -webkit-font-smoothing: antialiased;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover,
  &:focus {
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}

.btn-tertiary {
  -webkit-font-smoothing: antialiased;
  color: $text-color-invert;
  background-color: $color-tertiary;
  border-color: $color-tertiary;

  &:hover,
  &:focus {
    color: $text-color-invert;
    background-color: darken($color-tertiary, 5);
    border-color: darken($color-tertiary, 5);
  }
}

.btn-dark {
  background-color: $color-primary-dark;
}
