<div class="meal" appHighlightMeal [routerLink]="editMode ? null: meal.name">

  <div class="meal__overview">
    <div class="meal__overview__bg" [ngStyle]="{'background-image': 'url(' + imgUrl +')'}">
    </div>
  </div>

  <div class="meal__infos">
    <h3 class="meal__info__title">
      {{ meal.name }}
    </h3>
    <p class="meal__info__cooking">
      {{ meal.cookingTime }}
    </p>
  </div>

  <div *ngIf="editMode">
    <button type="button" class="btn btn-dark" [routerLink]="meal.name" (click)="editRecipe()">Edit</button>
    <button type="button" class="btn btn-danger" (click)="deleteRecipe()">Delete</button>
  </div>

</div>
