<ng-container *ngIf="message">
  <div class="modal-backdrop" (click)="close()"></div>
  <div class="modal modal-alert">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-end">
          <p class="mb-3 text-start">
            {{ message }}
          </p>
          <button type="button"
                  class="btn btn-dark modal-close"
                  aria-label="Close"
                  (click)="close()">Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
