/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito+Sans:wght@300;400&display=swap');
@import "assets/styles/variables";
@import "assets/styles/utilities";
@import "assets/styles/modal";

@import "assets/styles/atoms/types";
@import "assets/styles/atoms/bullet";
@import "assets/styles/atoms/icons";
@import "assets/styles/atoms/buttons";
@import "assets/styles/atoms/titles";

@import "assets/styles/molecules/dropdown";
@import "assets/styles/molecules/recipe";

html, body {
  color: $color-primary;
  font-family: $font-family-base;
  background-color: $color-secondary;
}

.bg-primary {
  color: $text-color-invert;
  background-color: $color-primary !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
}

.bg-primary-dark {
  color: $text-color-invert;
  background-color: $color-primary-dark;
}

a {
  cursor: pointer;
}

.dropdown {
  &.show {
    >.dropdown-menu {
      display: block;
    }
  }
}
