$color-primary: #384454;
$color-primary-dark: darken($color-primary, 8);
$color-secondary: #fafaf8;
$color-tertiary: #606DBE;
$color-success: #198754;
$color-danger: #dc3545;
$color-info:#0dcaf0;
$color-warning: #ffc107;

$color-orange: #FF9D24;

$bg-color: $color-secondary;

$text-color-primary: $color-primary;
$text-color-invert: #fff;

$font-family-base: 'Nunito Sans', sans-serif;
$font-family-highlight: 'Dancing Script', cursive;

$icon-size: 16px;

$recipe-block-bg: #ffffff;

$bullet-width: 7px;
$bullet-color: $color-primary;

$profile-picture-size: 30px;
