$color-primary: #384454;
$color-primary-dark: #212a39;

$color-orange: #FF9D24;

$text-color-invert: #fff;

$font-family-base: 'Nunito Sans', sans-serif;
$font-family-highlight: 'Dancing Script', cursive;
