.full-page {
  min-height: 100vh;
  padding: 150px 30px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #212a39;
}

.form {
  margin: 0 auto;
  max-width: 350px;
}

input {
  margin-bottom: 25px;
}
