<div class="meal text-light cursor-pointer mb-3"
     *ngIf="!editMode else mealEdit"
     (click)="selectMeal(meal.name)">

  <app-meal-picture [image]="meal.imagePath" [zoomEffect]="true"></app-meal-picture>
  <app-meal-info class="flex-grow-1" [meal]="meal"></app-meal-info>

</div>

<ng-template #mealEdit>
  <div class="meal-strip btn-group mb-3">
    <div class="row flex-grow-1">
      <div class="col-2">
        <app-meal-picture [class]="'meal-picture--small'" [image]="meal.imagePath"></app-meal-picture>
      </div>

      <div class="col-10 ps-0 py-2">
        <div class="icon-group">
          <h4 class="d-inline-block mb-0 me-2">
            {{ meal.name }}
          </h4>
          <a class="icon icon-link"
             title="preview"
             [inlineSVG]="iconDirectoryUrl+'icon-preview.svg'"
             (click)="showRecipe(meal)"></a>
        </div>
        <div class="meal-info">
          <div class="icon-group">
            <div class="icon" [inlineSVG]="iconDirectoryUrl+'icon-geo.svg'"></div>
            <span class="icon-text">{{ meal.origin }}</span>
          </div>
        </div>
      </div>
    </div>

    <button type="button"
            class="btn btn-dark flex-grow-0"
            (click)="editRecipe(meal.name)">
      Edit
    </button>
    <button type="button"
            class="btn btn-danger flex-grow-0"
            (click)="onConfirmDeleteMeal()">
      Delete
    </button>
    <!--Confirm delete modal-->
    <app-modal *ngIf="confirmDeleteMeal"
               [header]="false"
               [footer]="true"
               [footerConfirmTextBtn]="'Yes'"
               [footerCloseTextBtn]="'Cancel'"
               (confirmModal)="deleteMeal(meal.id)"
               (closeModal)="abortDeleteMeal()">
      <ng-container body>
        Are you sure you want to delete the <strong><i>{{meal.name}}</i></strong> meal?
      </ng-container>
    </app-modal>
  </div>
</ng-template>

<!--Modal recipe preview-->
<ng-template appModalRecipe></ng-template>
